In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
batting_df = pd.read_csv('../../Data/binDATA.csv', index_col=0)
batting_df.head()

,teamID,yearID,G,W,L,H,AB,SB,HR,2B,...,RA,IPouts,HA,BBA,BAVG,SLG,H/BBA,IP,WHIP,Run_Buckets
0,ARI,2015,162,79,83,1494,5649,132,154,289,...,713,4400,1450,500,0.264472,0.414410,1950,1466.666667,1.329545,MID
1,ARI,2016,162,69,93,1479,5665,137,190,285,...,890,4354,1563,603,0.261077,0.431774,2166,1451.333333,1.492421,MID-HIGH
2,ARI,2017,162,93,69,1405,5525,103,220,314,...,659,4323,1309,516,0.254299,0.444706,1825,1441.000000,1.266482,HIGH
3,ARI,2018,162,82,80,1283,5460,79,176,259,...,644,4389,1313,522,0.234982,0.397436,1835,1463.000000,1.254272,LOW-MID
4,ARI,2019,162,85,77,1419,5633,88,220,288,...,743,4395,1400,516,0.251908,0.434404,1916,1465.000000,1.307850,HIGH

In [3]:
grouped_batting_df = batting_df.set_index(['teamID', 'yearID'])
grouped_batting_df

                 G   W    L     H    AB   SB   HR   2B  3B    R  ...   RA  \
teamID yearID                                                    ...
ARI    2015    162  79   83  1494  5649  132  154  289  48  720  ...  713
       2016    162  69   93  1479  5665  137  190  285  56  752  ...  890
       2017    162  93   69  1405  5525  103  220  314  39  812  ...  659
       2018    162  82   80  1283  5460   79  176  259  50  693  ...  644
       2019    162  85   77  1419  5633   88  220  288  40  813  ...  743
...            ...  ..  ...   ...   ...  ...  ...  ...  ..  ...  ...  ...
WAS    2017    162  97   65  1477  5553  108  215  311  31  819  ...  672
       2018    162  82   80  1402  5517  119  191  284  25  771  ...  682
       2019    162  93   69  1460  5512  116  231  298  27  873  ...  724
       2021    162  65   97  1388  5385   56  182  272  20  724  ...  820
       2022    162  55  107  1351  5434   75  136  252  20  603  ...  855

               IPouts    HA  BBA      BAVG       SLG  H/BBA           IP  \
teamID yearID
ARI    2015      4400  1450  500  0.264472  0.414410   1950  1466.666667
       2016      4354  1563  603  0.261077  0.431774   2166  1451.333333
       2017      4323  1309  516  0.254299  0.444706   1825  1441.000000
       2018      4389  1313  522  0.234982  0.397436   1835  1463.000000
       2019      4395  1400  516  0.251908  0.434404   1916  1465.000000
...               ...   ...  ...       ...       ...    ...          ...
WAS    2017      4340  1300  495  0.265982  0.449307   1795  1446.666667
       2018      4338  1320  487  0.254124  0.418525   1807  1446.000000
       2019      4318  1340  517  0.264877  0.454463   1857  1439.333333
       2021      4183  1364  548  0.257753  0.417084   1912  1394.333333
       2022      4235  1469  558  0.248620  0.377438   2027  1411.666667

                   WHIP  Run_Buckets
teamID yearID
ARI    2015    1.329545          MID
       2016    1.492421     MID-HIGH
       2017    1.266482         HIGH
       2018    1.254272      LOW-MID
       2019    1.307850         HIGH
...                 ...          ...
WAS    2017    1.240783         HIGH
       2018    1.249654     MID-HIGH
       2019    1.290181         HIGH
       2021    1.371265          MID
       2022    1.435891          LOW

[210 rows x 21 columns]

In [4]:
# Generate our categorical variable lists
grouped_batting_cat = grouped_batting_df.dtypes[grouped_batting_df.dtypes == "object"].index.tolist()

In [5]:
# Check the number of unique values in each column
grouped_batting_df[grouped_batting_cat].nunique()

Run_Buckets    5
dtype: int64

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(grouped_batting_df[grouped_batting_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(grouped_batting_cat)
encode_df.head()

c:\Users\Allen Alonso\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Run_Buckets_HIGH,Run_Buckets_LOW,Run_Buckets_LOW-MID,Run_Buckets_MID,Run_Buckets_MID-HIGH
0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0

In [7]:
new_df = batting_df.merge(encode_df,left_index=True, right_index=True)
new_df = new_df.drop(grouped_batting_cat,1)
new_df.head()

C:\Users\Allen Alonso\AppData\Local\Temp\ipykernel_19896\3145326927.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  new_df = new_df.drop(grouped_batting_cat,1)

,teamID,yearID,G,W,L,H,AB,SB,HR,2B,...,BAVG,SLG,H/BBA,IP,WHIP,Run_Buckets_HIGH,Run_Buckets_LOW,Run_Buckets_LOW-MID,Run_Buckets_MID,Run_Buckets_MID-HIGH
0,ARI,2015,162,79,83,1494,5649,132,154,289,...,0.264472,0.414410,1950,1466.666667,1.329545,0.0,0.0,0.0,1.0,0.0
1,ARI,2016,162,69,93,1479,5665,137,190,285,...,0.261077,0.431774,2166,1451.333333,1.492421,0.0,0.0,0.0,0.0,1.0
2,ARI,2017,162,93,69,1405,5525,103,220,314,...,0.254299,0.444706,1825,1441.000000,1.266482,1.0,0.0,0.0,0.0,0.0
3,ARI,2018,162,82,80,1283,5460,79,176,259,...,0.234982,0.397436,1835,1463.000000,1.254272,0.0,0.0,1.0,0.0,0.0
4,ARI,2019,162,85,77,1419,5633,88,220,288,...,0.251908,0.434404,1916,1465.000000,1.307850,1.0,0.0,0.0,0.0,0.0

In [62]:
# Split our preprocessed data into our features and target arrays
X = new_df[["SLG", "SB", "BAVG"]].values
y = new_df[["Run_Buckets_HIGH"]].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=42)

In [63]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [97]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  20
hidden_nodes_layer2 = 20
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_16"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_50 (Dense)            (None, 20)                80

 dense_51 (Dense)            (None, 20)                420

 dense_52 (Dense)            (None, 1)                 21

=================================================================
Total params: 521 (2.04 KB)
Trainable params: 521 (2.04 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [98]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [101]:
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1440 - accuracy: 0.9286
Epoch 2/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1438 - accuracy: 0.9286
Epoch 3/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1440 - accuracy: 0.9286
Epoch 4/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1437 - accuracy: 0.9286
Epoch 5/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1430 - accuracy: 0.9345
Epoch 6/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1429 - accuracy: 0.9345
Epoch 7/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1426 - accuracy: 0.9286
Epoch 8/100
6/6 [==============================] - 0s 3ms/step - loss: 0.1426 - accuracy: 0.9345
Epoch 9/100
6/6 [==============================] - 0s 3ms/step - loss: 0.1423 - accuracy: 0.9345
Epoch 10/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1420 - accuracy: 0.9286
Epoch 11/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1413 - accuracy: 0.9286
Epoch 12/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1413 - accuracy: 0.9286
Epoch 13/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1406 - accuracy: 0.9345
Epoch 14/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1407 - accuracy: 0.9345
Epoch 15/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1413 - accuracy: 0.9345
Epoch 16/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1412 - accuracy: 0.9405
Epoch 17/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1405 - accuracy: 0.9405
Epoch 18/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1400 - accuracy: 0.9405
Epoch 19/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1398 - accuracy: 0.9345
Epoch 20/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1397 - accuracy: 0.9345
Epoch 21/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1394 - accuracy: 0.9345
Epoch 22/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1399 - accuracy: 0.9345
Epoch 23/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1394 - accuracy: 0.9345
Epoch 24/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1396 - accuracy: 0.9345
Epoch 25/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1389 - accuracy: 0.9345
Epoch 26/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1384 - accuracy: 0.9345
Epoch 27/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1381 - accuracy: 0.9345
Epoch 28/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1383 - accuracy: 0.9345
Epoch 29/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1385 - accuracy: 0.9345
Epoch 30/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1382 - accuracy: 0.9345
Epoch 31/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1379 - accuracy: 0.9345
Epoch 32/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1381 - accuracy: 0.9345
Epoch 33/100
6/6 [==============================] - 0s 1ms/step - loss: 0.1383 - accuracy: 0.9345
Epoch 34/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1381 - accuracy: 0.9345
Epoch 35/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1376 - accuracy: 0.9345
Epoch 36/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1371 - accuracy: 0.9345
Epoch 37/100
6/6 [==============================] - 0s 3ms/step - loss: 0.1383 - accuracy: 0.9345
Epoch 38/100
6/6 [==============================] - 0s 4ms/step - loss: 0.1374 - accuracy: 0.9345
Epoch 39/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1375 - accuracy: 0.9345
Epoch 40/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1368 - accuracy: 0.9345
Epoch 41/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1364 - accuracy: 0.9345
Epoch 42/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1362 - accuracy: 0.9345
Epoch 43/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1360 - accuracy: 0.9345
Epoch 44/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1361 - accuracy: 0.9345
Epoch 45/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1361 - accuracy: 0.9345
Epoch 46/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1360 - accuracy: 0.9345
Epoch 47/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1358 - accuracy: 0.9345
Epoch 48/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1365 - accuracy: 0.9345
Epoch 49/100
6/6 [==============================] - 0s 1ms/step - loss: 0.1356 - accuracy: 0.9345
Epoch 50/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1354 - accuracy: 0.9345
Epoch 51/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1352 - accuracy: 0.9345
Epoch 52/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1351 - accuracy: 0.9345
Epoch 53/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1346 - accuracy: 0.9345
Epoch 54/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1346 - accuracy: 0.9345
Epoch 55/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1349 - accuracy: 0.9405
Epoch 56/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1345 - accuracy: 0.9405
Epoch 57/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1347 - accuracy: 0.9405
Epoch 58/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1357 - accuracy: 0.9345
Epoch 59/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1349 - accuracy: 0.9345
Epoch 60/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1344 - accuracy: 0.9345
Epoch 61/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1341 - accuracy: 0.9345
Epoch 62/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1344 - accuracy: 0.9345
Epoch 63/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1345 - accuracy: 0.9345
Epoch 64/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1345 - accuracy: 0.9345
Epoch 65/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1343 - accuracy: 0.9345
Epoch 66/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1339 - accuracy: 0.9345
Epoch 67/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1342 - accuracy: 0.9345
Epoch 68/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1340 - accuracy: 0.9345
Epoch 69/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1337 - accuracy: 0.9345
Epoch 70/100
6/6 [==============================] - 0s 3ms/step - loss: 0.1335 - accuracy: 0.9345
Epoch 71/100
6/6 [==============================] - 0s 8ms/step - loss: 0.1335 - accuracy: 0.9345
Epoch 72/100
6/6 [==============================] - 0s 4ms/step - loss: 0.1334 - accuracy: 0.9345
Epoch 73/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1330 - accuracy: 0.9345
Epoch 74/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1331 - accuracy: 0.9345
Epoch 75/100
6/6 [==============================] - 0s 1ms/step - loss: 0.1328 - accuracy: 0.9345
Epoch 76/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1327 - accuracy: 0.9345
Epoch 77/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1326 - accuracy: 0.9345
Epoch 78/100
6/6 [==============================] - 0s 1ms/step - loss: 0.1325 - accuracy: 0.9345
Epoch 79/100
6/6 [==============================] - 0s 1ms/step - loss: 0.1325 - accuracy: 0.9345
Epoch 80/100
6/6 [==============================] - 0s 1ms/step - loss: 0.1321 - accuracy: 0.9345
Epoch 81/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1329 - accuracy: 0.9345
Epoch 82/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1320 - accuracy: 0.9345
Epoch 83/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1321 - accuracy: 0.9345
Epoch 84/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1321 - accuracy: 0.9345
Epoch 85/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1321 - accuracy: 0.9345
Epoch 86/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1317 - accuracy: 0.9345
Epoch 87/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1318 - accuracy: 0.9345
Epoch 88/100
6/6 [==============================] - 0s 3ms/step - loss: 0.1316 - accuracy: 0.9345
Epoch 89/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1314 - accuracy: 0.9345
Epoch 90/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1318 - accuracy: 0.9405
Epoch 91/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1313 - accuracy: 0.9405
Epoch 92/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1309 - accuracy: 0.9405
Epoch 93/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1309 - accuracy: 0.9405
Epoch 94/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1305 - accuracy: 0.9405
Epoch 95/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1309 - accuracy: 0.9345
Epoch 96/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1300 - accuracy: 0.9345
Epoch 97/100
6/6 [==============================] - 0s 3ms/step - loss: 0.1309 - accuracy: 0.9405
Epoch 98/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1304 - accuracy: 0.9405
Epoch 99/100
6/6 [==============================] - 0s 2ms/step - loss: 0.1301 - accuracy: 0.9405
Epoch 100/100
6/6 [==============================] - 0s 3ms/step - loss: 0.1302 - accuracy: 0.9345

In [102]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2/2 - 0s - loss: 0.2833 - accuracy: 0.8571 - 19ms/epoch - 9ms/step
Loss: 0.28334158658981323, Accuracy: 0.8571428656578064

In [103]:
nn.save('high_scores_optimized.h5')

c:\Users\Allen Alonso\anaconda3\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(